.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
.timeSlider{
    width: 100%;
    margin-top: 5px;
}
.img{
    max-width: 90%;
    max-height: 400px;
    z-index: -1;
    padding-top: 20px;
    overflow: hidden ;
}
.timeProgress{
    width: 70%;
    stroke-width:10px;
    secondary-color:lightskyblue;
    margin: 20px;
}
.title {
    text-overflow: ellipsis;
    max-lines: 1;
}

.audioBtn{
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.time-div{
    margin-top: 20px;
    width: 100%;
}
.time{
    font-size: 12px;
}
.time-left{
    position: absolute;
    left: 5px;
}
.time-right{
    position: absolute;
    right: 5px;
}