.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 10px 0px #C9C9C9;

}
.timeSlider{
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.img{
    max-width: 560px;
    max-height: 420px;
    overflow: hidden;
    border-radius: 30px;


}
.img-div{
    border-radius: 30px;
    margin: 20px;
    box-shadow: 10px 10px 10px 0px #C9C9C9;
}
.timeProgress{
    width: 70%;
    stroke-width:10px;
    secondary-color:lightskyblue;
    margin: 20px;
}
.title {
    margin-left: 10px;
    margin-right: 10px;
    text-overflow: ellipsis;
    max-lines: 1;
}

.audioBtn{
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 10px 10px 10px 0px #C9C9C9;
}

.time-div{
    margin-top: 20px;
    width: 100%;
}
.time{
    font-size: 12px;
}
.time-left{
    position: absolute;
    left: 5px;
}
.time-right{
    position: absolute;
    right: 5px;
}